# EditorConfig: http://EditorConfig.org

root = true

[*.{java,scala,kt}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{xml,yml}]
charset = utf-8
indent_style = space
indent_size = 2

[build.gradle]
charset = utf-8
indent_style = space
indent_size = 2
